:root{
    --primary-color: #004754;
    --text-color: #0A0A0A;
    --background-color: #FAF9F7;
    --subtext-color: #ededed;
    --radius: 4px;
}
body{
    background-color: var(--background-color);
    font-family: "Quicksand", sans-serif;
}

section{
    z-index: 2;
}

#front-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    height: 100vh;
}
#navbar {
  position: fixed;
  top: 40px;
  height: 60px;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  color: var(--text-color);
  z-index: 3;
  border-radius: var(--radius);
  border-style: solid;
  border-color: var(--text-color);
  border-width: 2px;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 1s ease;
  background-color: var(--background-color);


}


#navbar.show {
  transform: translateY(0);
  opacity: 1;
}

#navbar a{

    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
    transition: all 0.3s ease, box-shadow 0.3s ease;
    border-radius: var(--radius);
}

#navbar a:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}



#frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 2vh;
    left: 2vw;
    width: 96vw;
    height: 96vh;
    border-style: solid;
    border-color: var(--text-color);
    border-width: 4px;
    border-radius: var(--radius);
    background-color: transparent;
    z-index: 1;
}

#title-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20vh;
}

h1 {

    font-size: 7.5rem;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    font-family: Times;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 34ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  animation: none;
  opacity: 0;
}

.typing-demo.start {
  opacity: 1;
  animation:
    typing 2.5s steps(42),
    blink .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.btn{
    border-radius: var(--radius);
    width: fit-content;
    padding: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--text-color);
    border-style: solid;
    border-width: 2px;
    transition: all 0.3s ease, transform 1s ease;
    margin-top: 100px;
    font-family: "Quicksand", sans-serif;
    z-index: 2;
    transform: translateY(80px);
    opacity: 0;
    /* transition: all 1s ease; */
}

.btn.show {
  transform: translateY(0);
  opacity: 1;
}

.btn:hover{ 
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: var(--radius);
    border-color: var(--primary-color);
    cursor: pointer;
}

#customers{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h3 {
    font-size: 2em;
    font-weight: 400;
}

#customers-text{
    
    width: 60%;
    text-align: center;
    margin-top: 100px;
    translate: (80px);
    opacity: 0;
    transition: all 1s ease;
}

#customers-text.show{
    transform: translateY(0);
    opacity: 1;
    margin-top: 130px;

}

.brands {
    width: 90vw;
    overflow-x: hidden;
    /* background-color: pink; */
    padding: 20px 0;
    margin-top: 100px;

    border-style: solid none solid none;
    border-color: var(--subtext-color);
    border-width: 4px;
    min-height: 40px;

}

.brands-track {
    display: flex;
    width: max-content;
    animation: go 30s linear infinite;
}

.brands-track img {
    height: 40px;
    filter: grayscale(100%);
    padding:  0 60px;
;

}

@keyframes go {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#customers-content{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-top: 100px;
}
#customers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#customers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 90vw;
    margin-top: 50px;
    position: relative;
    left: 10vw;
}

#customers-sub{
    width: 40vw;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 100;

}

#customers-sub em{
    font-style: italic;
    font-weight: bold;
}

#customers-typing {
    /* padding-left: 50px; */
    font-weight: bold;
    margin-top: 50px;
    width: 14ch;
    animation: typing .5s steps(14), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: "Quicksand", sans-serif;
    font-size: 2em;
    animation: none;
    opacity: 0;
}

#customers-typing.start{
    opacity: 1;
    animation: typing 1.3s steps(14), blink .5s step-end infinite alternate;

}


#stats {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
#stats-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

#sub-stats-left{
   display: flex;
   flex-direction: row;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.num{
    font-size: 5rem;
    font-family: Times;

}

.word{
    font-size: .75rem;
    font-family: "Quicksand", sans-serif;
}

.vert {
    width: 2px;
    height: 100px;
    /* background-color: var(--text-color); */
    margin: 0 40px 0 40px;
}

#divider{
    display: flex;
    flex-direction: row;
    margin:  20px 0 20px 0;
    width: 440px;
    justify-content: space-between;
}

.horz{
    width: 200px;
    height: 2px;
    background-color: var(--text-color);
}

#stats-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    width: 40%;
}

#case-study{
    display: flex;
    flex-direction: column;
	margin-top: 200px;
	padding: 50px 0;
	--tst: bottom 0.5s ease 0s;
	--dark: #E6E6E6EE;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper {
	width: 100%;
	height: 600px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 400px;
	height: 96% !important;
    top: 10px;
	border-radius: 10px;
	overflow: hidden;
    border: solid 2px var(--text-color);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-container-3d .swiper-slide-shadow-left {
	background-image: linear-gradient(to left, #000, #fff0);
	border-right: 1px solid #000;
	border-radius: 10px;
}

.swiper-container-3d .swiper-slide-shadow-right {
	background-image: linear-gradient(to right, #000, #fff0);
	box-shadow: 0 0 0 1px #000;
	border-radius: 10px;
}

.swiper-pagination-bullet {
	background: #696969;
	transition: all 0.5s ease 0s;
	border-radius: 8px;
}

.swiper-pagination-bullet-active {
	background: #ffc107;
	width: 30px;
    
}

.info {
	position: absolute;
	/*bottom: -1px;*/
	width: calc(100% + 2px);
	height: calc(13% + 2px);
	text-align: center;
	background: var(--background-color);
	padding: 15px;
	/* padding-top: 70px; */
	left: calc(-100% - 3px);
	left: 0;
	bottom: calc(-100% - 3px);
	box-sizing: border-box;
	transition: var(--tst);
    border-top: solid 2px var(--text-color);
}

.swiper-slide-active .info {
	bottom: 0;
	transition: var(--tst);
}

.info span {
   font-size: 2rem;
    font-family: Times;
    font-style: italic;
}

.case-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100%;
    
}

.case-content span{
    font-size: 2.5rem;
}

.case-content div{
    margin-top: 100px;
    width: 90%;
    font-size: 1rem;
}



#footer{
    height: 200px;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 200px 0 0 0;
    z-index: 0;
}